@import "_variables";

@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import '../../node_modules/font-awesome/scss/font-awesome';

/* App imports */
@import "_basic";

.clearfix :before {
  overflow: auto;
  content: "";
  clear: both;
  display: table;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.nav-bar {
  height: 64px;
  box-shadow: 0px 2px 2px #000000;

}

.nav-bar-right {
  float: right;
  display: flex;
  text-decoration: none;
  font-size: 14px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 0px;
  padding-left: 0px !important;
  align-items: center;
  justify-content: center;
  height: 64px;
}

.nav-bar-right>a:hover {
  text-decoration: none;
  color: #FFF;
  padding: 8px 8px 8px 8px;
  width: auto;
  background-color: #1269FA;
  border-radius: 4px;




}

.nav-bar-right>a {
  padding: 8px 8px 8px 8px;
  margin: 4px;
  color: #1269FA;
  width: auto;

}

.nav-bar-left {
  float: left;
  height: 64px;
  padding-top: 3px;
  align-items: center;
  display: flex;


}

.banner-background {
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 280px;
  width: 100%;


}

.banner-logo>svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.banner-background>h1 {
  color: #FFF;
  justify-content: center;
  display: flex;

}

.banner-background>h4 {
  color: #FFF;
  justify-content: center;
  display: flex;
  text-decoration: underline;
}

.skills-set {
  margin-top: 35px;


}

.stacks {
  display: flex;
  // width: 100%;
  justify-content: center;
  margin: 10px;
}

.primary-stacks {
  display: flex;
  width: 37%;
  justify-content: center;
}

.primary-stacks span:nth-child(1) {
  font-size: 18px;
  color: #E08709;
  display: flex;
  justify-content: space-between;
}

.primary-stacks span:nth-child(2) {
  font-size: 18px;
  color: #FFF;
  display: flex;
  width: 65%;
  justify-content: center;

}

.secondary-stacks {
  display: flex;
  width: 37%;
  justify-content: center;
}

.secondary-stacks span:nth-child(1) {
  font-size: 18px;
  color: #E08709;
  display: flex;
  justify-content: space-between;
}

.secondary-stacks span:nth-child(2) {
  font-size: 18px;
  color: #FFF;
  display: flex;
  width: 53%;
  justify-content: center;

}

.aboutus {
  color: #1269FB;
  justify-content: center;
  display: flex;
  margin-top: 20px;
  letter-spacing: 0.8px;
}

.aboutus-content {
  letter-spacing: 0.3px;
  line-height: 2;
  color: rgba(0, 0, 0, 0.70);
  justify-content: center;
  align-items: center;
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding-top: 15px;
  font-size: 14px;
}

.development {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  padding-top: 35px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  color: rgba(0, 0, 0, 0.70);
  letter-spacing: 0.3px;
  line-height: 2;
  height: 480px;

}

.mobile-development {

  width: 30%;
  margin: auto;
  align-content: center;
  margin-right: 20px;
  height: 280px;
}

.mobile-development>h4 {
  margin-top: 30px;
  justify-content: center;
  display: flex;
  color: #1269FA;
}


.mobile-development>p {
  margin: 30px;
  margin-top: 50px;
  text-justify: justify;
}

.mobile-development:hover {
  height: 380px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #1269FA;
  transition: transform .9s;
  color: #FFF;
  
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  // box-sizing: border-box;
  // width: 30%;

  >h4{
    color: #FFF;
  }

}


.web-developement {
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 30%;
  margin: auto;
  align-content: center;
  margin-right: 20px;
  height: 280px;
}

.web-developement>h4 {
  margin-top: 30px;
  justify-content: center;
  display: flex;
  color: #1269FA;
}

.web-developement>p {
  margin: 30px;
  text-justify: justify;
}

.web-developement:hover{
  height: 380px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #1269FA;
  transition: transform .9s;
  color: #FFF;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  // box-sizing: border-box;
  // width: 30%;
  >h4{
    color: #FFF;
  }
}

.devops {
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 30%;
  margin: auto;
  align-content: center;
  margin-right: 20px;
  height: 280px;
}

.devops>h4 {
  margin-top: 30px;
  justify-content: center;
  display: flex;
  color: #1269FA;
}

.devops>p {
  margin: 30px;
  text-justify: justify;
}

.devops:hover{
  height: 380px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #1269FA;
  transition: transform .9s;
  color: #FFF;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  // box-sizing: border-box;
  // width: 30%;
  >h4{
    color: #FFF;
  }
}
